<body>
        <div class="create">
            Reminder Name: 
            <input type="text" class="create" id="rname" name="rname" placeholder="Enter reminder name..."/>
            <br><br>
            Pomodoro Estimate: 
            <input type="text" class="create" id="rdur" name="rdur" placeholder="Enter est. completion time..."/>
            <br><br>
            Type of reminder:<br>
            <input type="radio" name="rtype" class="create" id="rtypeid" value="repeat">
            Scheduled repetitive reminder
            </input><br>
            <input type="radio" name="rtype" class="create" id="rtypeid" value="now">
            Instant reminder
            </input><br>
            <input type="radio" name="rtype" class="create" id="rtypeid" value="once">
            One-time scheduled reminder
            </input><br><br><hr>
            <input type="submit" id="next" class="create" name="continue" value="Continue">
        <a href="../index.html"><input type="submit" name="exit" value="Cancel"></a>
        </div>
    </body>