/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1{
    color:#494949;
    font: icon;
    font-size: xx-large;
}
h2{
    color:#eee;
    font-family: sans-serif;
}
body{
    color:black;
    font-family: sans-serif;
    padding:12px;
    border: solid 5px #9f9f9f;
    margin:30px;
}
.todos{background-color: #eee;padding: 2px;color: black;list-style: none;}
.todos{background-color: black;padding: 2px;color: #eee;list-style: none;}
.complete{background-color: #000;padding: 2px;color: black;list-style: none;}